:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --fuente: 'Krub', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: var(--fuente);
}

/** Tipografía con selector de elemento**/
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1, h2, h3 {
    text-align: center;
}

/** Titulos con selector de descendencia**/
.titulo span {
    font-size: 2rem;
}

/** Especificidad y el porque "HOJAS DE ESTILO EN CASCADA"**/
.titulo span {
    font-size: 2rem;
    color: var(--gris);
}

.titulo span {
    font-size: 2rem;
    color: var(--secundario) !important;
}

.titulo span {
    font-size: 2rem;
    color: var(--primario);
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

/** NAVEGACIÓN PRINCIPAL **/
.bg-navegacion {
    background-color: var(--secundario);
}

/** 30 Display: inline y block **/
/** Todos los elementos en el html ya tienen ya tienen un display de estos dos por default **/
.navegacion-principal {
    display: flex;
    flex-direction: column;
}

/** Para pantallas laps **/
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

/**Contenido hero**/
.hero{
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 41rem;
    padding: 2.8rem;
}
